# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
- Popular languages that Data Scientist Use
- Popular Libraries that Data Scientist Use
- Popular Data Science Tools
- Some Arithmatic Operations


Some of the populer languages that Data Scientist use are:<br>
    1. Python<br>
    2. R<br>
    3. SQL<br>
    4. Java<br>
    5. Scala<br>
    6. MatLab

Some libraries that data scientist use: <br>

1.GGplot <br>
2.NumPy<br>
3.Pandas<br>
4.Matplotlib<br>
5.PyTorch<br>
6.Keras<br>

|Data Science Tool|
|:---------------:|
|Jupyter Notebook|
|R Studio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

**Author**
Tanmoy